body {
    background-blend-mode: multiply;
    background-size: cover;
    background: rgba(0, 0, 0, 0.3) url("../images/bg.jpg") no-repeat center;
}

.dropdown-menu {
    background-color: rgba(152, 127, 110, 0.35);
    border: none;
}

.dropdown-item {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 188, 101, 0.15);
        backdrop-filter: blur(10px);
    }

    .offcanvas-header {
        color: white;
    }

    .btn {
        color: white;
        border-color: white;
    }
}